name: Build and Release

on:
  push:
    tags:
      - 'v*' # Trigger build ONLY when you push a tag starting with v (e.g. v1.0.5)

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      # Linux Fix: Install graphics libraries needed for building
      - name: Install Linux Dependencies
        if: matrix.os == 'ubuntu-latest'
        run: |
          sudo apt-get update
          sudo apt-get install -y libarchive-tools libicns-utils graphicsmagick xz-utils

      - name: Install Project Dependencies
        run: npm install

      - name: Build and Publish
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }} # GitHub automatically provides this
        run: npm run dist -- -p always